In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('https://raw.githubusercontent.com/BrijeshYadav001st/HighRadius-csv-file-/main/H2HBABBA1492.csv')

In [3]:
#Understnding the data

In [4]:
data

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,area_business,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,CA02,0140105678,SAPUTO systems,NaN,2020.0,2.960620e+09,2020-03-10,20200310,20200310,20200329.0,CAD,RV,1.0,NaN,12140.10,20200319.0,CA10,2.960620e+09,1
1,U001,0200750051,ALBER foundation,2019-07-03 00:00:00,2019.0,1.929516e+09,2019-06-18,20190619,20190618,20190703.0,USD,RV,1.0,NaN,101378.70,20190618.0,NAA8,1.929516e+09,0
2,U001,0200769623,WAL-MAR systems,NaN,2020.0,1.930689e+09,2020-03-24,20200323,20200324,20200408.0,USD,RV,1.0,NaN,46117.37,20200324.0,NAH4,1.930689e+09,1
3,U001,0200416837,DEC systems,2019-03-25 00:00:00,2019.0,1.928996e+09,2019-03-20,20190320,20190320,20190326.0,USD,RV,1.0,NaN,12904.41,20190316.0,NAM2,1.928996e+09,0
4,U001,CCCA02,KRAFT co,2019-11-27 00:00:00,2019.0,1.929976e+09,2019-10-08,20191007,20191008,20191112.0,USD,RV,1.0,NaN,12965.40,20191008.0,NAG2,1.929976e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,0200769623,WAL-MAR,2020-01-21 00:00:00,2020.0,1.930357e+09,2020-01-07,20200105,20200107,20200122.0,USD,RV,1.0,NaN,311.84,20200107.0,NAH4,1.930357e+09,0
49996,U001,200759878,SA corporation,2019-04-09 00:00:00,2019.0,1.929009e+09,2019-03-24,20190322,20190324,20190408.0,USD,RV,1.0,NaN,40742.51,20190324.0,NAH4,1.929009e+09,0
49997,U001,0100015557,BI trust,2019-03-25 00:00:00,2019.0,1.928940e+09,2019-03-12,20190312,20190312,20190516.0,USD,RV,1.0,NaN,1929.63,20190312.0,NAGD,1.928940e+09,0
49998,U001,0200776463,KROGE llc,2019-08-14 00:00:00,2019.0,1.929669e+09,2019-07-30,20190727,20190730,20190814.0,USD,RV,1.0,NaN,17519.05,20190730.0,NAA8,1.929669e+09,0
49999,U001,0200803720,DEC foundation,2019-11-01 00:00:00,2019.0,1.930046e+09,2019-10-23,20191023,20191023,20191108.0,USD,RV,1.0,NaN,501.84,20191016.0,NAM4,1.930046e+09,0

In [14]:
#To check the data size and length
data.tail()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
49995,U001,0200769623,WAL-MAR,2020-01-21 00:00:00,2020.0,1.930357e+09,2020-01-07,2020-01-05,20200107,20200122.0,USD,RV,311.84,20200107.0,NAH4,1.930357e+09,0
49996,U001,200759878,SA corporation,2019-04-09 00:00:00,2019.0,1.929009e+09,2019-03-24,2019-03-22,20190324,20190408.0,USD,RV,40742.51,20190324.0,NAH4,1.929009e+09,0
49997,U001,0100015557,BI trust,2019-03-25 00:00:00,2019.0,1.928940e+09,2019-03-12,2019-03-12,20190312,20190516.0,USD,RV,1929.63,20190312.0,NAGD,1.928940e+09,0
49998,U001,0200776463,KROGE llc,2019-08-14 00:00:00,2019.0,1.929669e+09,2019-07-30,2019-07-27,20190730,20190814.0,USD,RV,17519.05,20190730.0,NAA8,1.929669e+09,0
49999,U001,0200803720,DEC foundation,2019-11-01 00:00:00,2019.0,1.930046e+09,2019-10-23,2019-10-23,20191023,20191108.0,USD,RV,501.84,20191016.0,NAM4,1.930046e+09,0

In [16]:
#read the header file
data.columns

Index(['business_code', 'cust_number', 'name_customer', 'clear_date',
       'buisness_year', 'doc_id', 'posting_date', 'document_create_date',
       'document_create_date.1', 'due_in_date', 'invoice_currency',
       'document type', 'total_open_amount', 'baseline_create_date',
       'cust_payment_terms', 'invoice_id', 'isOpen'],
      dtype='object')

In [27]:
#read each rows
print (data.head())

  business_code cust_number     name_customer           clear_date  \
0          CA02  0140105678   SAPUTO  systems                  NaN
1          U001  0200750051  ALBER foundation  2019-07-03 00:00:00
2          U001  0200769623   WAL-MAR systems                  NaN
3          U001  0200416837       DEC systems  2019-03-25 00:00:00
4          U001      CCCA02         KRAFT  co  2019-11-27 00:00:00

   buisness_year        doc_id posting_date document_create_date  \
0         2020.0  2.960620e+09   2020-03-10           2020-03-10
1         2019.0  1.929516e+09   2019-06-18           2019-06-19
2         2020.0  1.930689e+09   2020-03-24           2020-03-23
3         2019.0  1.928996e+09   2019-03-20           2019-03-20
4         2019.0  1.929976e+09   2019-10-08           2019-10-07

   document_create_date.1  due_in_date invoice_currency document type  \
0                20200310   20200329.0              CAD            RV
1                20190618   20190703.0              USD            RV
2                20200324   20200408.0              USD            RV
3                20190320   20190326.0              USD            RV
4                20191008   20191112.0              USD            RV

   total_open_amount  baseline_create_date cust_payment_terms    invoice_id  \
0           12140.10            20200319.0               CA10  2.960620e+09
1          101378.70            20190618.0               NAA8  1.929516e+09
2           46117.37            20200324.0               NAH4  1.930689e+09
3           12904.41            20190316.0               NAM2  1.928996e+09
4           12965.40            20191008.0               NAG2  1.929976e+09

   isOpen
0       1
1       0
2       1
3       0
4       0

In [5]:
# For unique value
data.nunique()

business_code                 5
cust_number                1409
name_customer              4177
clear_date                  401
buisness_year                 2
doc_id                    48853
posting_date                504
document_create_date        504
document_create_date.1      505
due_in_date                 548
invoice_currency              2
document type                 2
posting_id                    1
area_business                 0
total_open_amount         44306
baseline_create_date        510
cust_payment_terms           76
invoice_id                48847
isOpen                        2
dtype: int64

In [6]:
# Droping waste and deplicate rows and columns
data.drop('area_business' ,axis=1 , inplace=True)
data.head(4999)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,posting_id,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,CA02,0140105678,SAPUTO systems,NaN,2020.0,2.960620e+09,2020-03-10,20200310,20200310,20200329.0,CAD,RV,1.0,12140.10,20200319.0,CA10,2.960620e+09,1
1,U001,0200750051,ALBER foundation,2019-07-03 00:00:00,2019.0,1.929516e+09,2019-06-18,20190619,20190618,20190703.0,USD,RV,1.0,101378.70,20190618.0,NAA8,1.929516e+09,0
2,U001,0200769623,WAL-MAR systems,NaN,2020.0,1.930689e+09,2020-03-24,20200323,20200324,20200408.0,USD,RV,1.0,46117.37,20200324.0,NAH4,1.930689e+09,1
3,U001,0200416837,DEC systems,2019-03-25 00:00:00,2019.0,1.928996e+09,2019-03-20,20190320,20190320,20190326.0,USD,RV,1.0,12904.41,20190316.0,NAM2,1.928996e+09,0
4,U001,CCCA02,KRAFT co,2019-11-27 00:00:00,2019.0,1.929976e+09,2019-10-08,20191007,20191008,20191112.0,USD,RV,1.0,12965.40,20191008.0,NAG2,1.929976e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,U001,0200761734,H E BUT foundation,NaN,2020.0,1.930754e+09,2020-04-06,20200406,20200406,20200421.0,USD,RV,1.0,9953.33,20200406.0,NAA8,1.930754e+09,1
4995,U001,0200974851,RESTA llc,2019-04-03 00:00:00,2019.0,1.928963e+09,2019-03-14,20190314,20190314,20190403.0,USD,RV,1.0,598.58,20190314.0,NAD1,1.928963e+09,0
4996,U001,0200769623,WAL-MAR trust,2019-08-20 00:00:00,2019.0,1.929726e+09,2019-08-09,20190809,20190809,20190824.0,USD,RV,1.0,6808.19,20190809.0,NAH4,1.929726e+09,0
4997,CA02,0140104277,WALLA trust,2019-12-27 00:00:00,2019.0,2.960598e+09,2019-12-03,20191204,20191203,20191221.0,CAD,RV,1.0,12478.98,20191211.0,CA10,2.960598e+09,0
4998,U001,0200704858,WAKE corp,2019-04-29 00:00:00,2019.0,1.929175e+09,2019-04-19,20190419,20190419,20190504.0,USD,RV,1.0,113722.92,20190419.0,NAA8,1.929175e+09,0

In [7]:
## Droping waste and deplicate rows and columns
data.drop('posting_id' ,axis=1 , inplace=True)
data

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,CA02,0140105678,SAPUTO systems,NaN,2020.0,2.960620e+09,2020-03-10,20200310,20200310,20200329.0,CAD,RV,12140.10,20200319.0,CA10,2.960620e+09,1
1,U001,0200750051,ALBER foundation,2019-07-03 00:00:00,2019.0,1.929516e+09,2019-06-18,20190619,20190618,20190703.0,USD,RV,101378.70,20190618.0,NAA8,1.929516e+09,0
2,U001,0200769623,WAL-MAR systems,NaN,2020.0,1.930689e+09,2020-03-24,20200323,20200324,20200408.0,USD,RV,46117.37,20200324.0,NAH4,1.930689e+09,1
3,U001,0200416837,DEC systems,2019-03-25 00:00:00,2019.0,1.928996e+09,2019-03-20,20190320,20190320,20190326.0,USD,RV,12904.41,20190316.0,NAM2,1.928996e+09,0
4,U001,CCCA02,KRAFT co,2019-11-27 00:00:00,2019.0,1.929976e+09,2019-10-08,20191007,20191008,20191112.0,USD,RV,12965.40,20191008.0,NAG2,1.929976e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,0200769623,WAL-MAR,2020-01-21 00:00:00,2020.0,1.930357e+09,2020-01-07,20200105,20200107,20200122.0,USD,RV,311.84,20200107.0,NAH4,1.930357e+09,0
49996,U001,200759878,SA corporation,2019-04-09 00:00:00,2019.0,1.929009e+09,2019-03-24,20190322,20190324,20190408.0,USD,RV,40742.51,20190324.0,NAH4,1.929009e+09,0
49997,U001,0100015557,BI trust,2019-03-25 00:00:00,2019.0,1.928940e+09,2019-03-12,20190312,20190312,20190516.0,USD,RV,1929.63,20190312.0,NAGD,1.928940e+09,0
49998,U001,0200776463,KROGE llc,2019-08-14 00:00:00,2019.0,1.929669e+09,2019-07-30,20190727,20190730,20190814.0,USD,RV,17519.05,20190730.0,NAA8,1.929669e+09,0
49999,U001,0200803720,DEC foundation,2019-11-01 00:00:00,2019.0,1.930046e+09,2019-10-23,20191023,20191023,20191108.0,USD,RV,501.84,20191016.0,NAM4,1.930046e+09,0

In [12]:
#Conversation of date in proper formate 

#data.clear_date.str.slice().astype('int').head()

data['posting_date']=pd.to_datetime(data['posting_date']).dt.normalize()
data['document_create_date']=pd.to_datetime(data['document_create_date'],format='%Y%m%d')
data

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
0,CA02,0140105678,SAPUTO systems,NaN,2020.0,2.960620e+09,2020-03-10,2020-03-10,20200310,20200329.0,CAD,RV,12140.10,20200319.0,CA10,2.960620e+09,1
1,U001,0200750051,ALBER foundation,2019-07-03 00:00:00,2019.0,1.929516e+09,2019-06-18,2019-06-19,20190618,20190703.0,USD,RV,101378.70,20190618.0,NAA8,1.929516e+09,0
2,U001,0200769623,WAL-MAR systems,NaN,2020.0,1.930689e+09,2020-03-24,2020-03-23,20200324,20200408.0,USD,RV,46117.37,20200324.0,NAH4,1.930689e+09,1
3,U001,0200416837,DEC systems,2019-03-25 00:00:00,2019.0,1.928996e+09,2019-03-20,2019-03-20,20190320,20190326.0,USD,RV,12904.41,20190316.0,NAM2,1.928996e+09,0
4,U001,CCCA02,KRAFT co,2019-11-27 00:00:00,2019.0,1.929976e+09,2019-10-08,2019-10-07,20191008,20191112.0,USD,RV,12965.40,20191008.0,NAG2,1.929976e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,0200769623,WAL-MAR,2020-01-21 00:00:00,2020.0,1.930357e+09,2020-01-07,2020-01-05,20200107,20200122.0,USD,RV,311.84,20200107.0,NAH4,1.930357e+09,0
49996,U001,200759878,SA corporation,2019-04-09 00:00:00,2019.0,1.929009e+09,2019-03-24,2019-03-22,20190324,20190408.0,USD,RV,40742.51,20190324.0,NAH4,1.929009e+09,0
49997,U001,0100015557,BI trust,2019-03-25 00:00:00,2019.0,1.928940e+09,2019-03-12,2019-03-12,20190312,20190516.0,USD,RV,1929.63,20190312.0,NAGD,1.928940e+09,0
49998,U001,0200776463,KROGE llc,2019-08-14 00:00:00,2019.0,1.929669e+09,2019-07-30,2019-07-27,20190730,20190814.0,USD,RV,17519.05,20190730.0,NAA8,1.929669e+09,0
49999,U001,0200803720,DEC foundation,2019-11-01 00:00:00,2019.0,1.930046e+09,2019-10-23,2019-10-23,20191023,20191108.0,USD,RV,501.84,20191016.0,NAM4,1.930046e+09,0

In [10]:
# Conversation invoice_currency in proper Formate

#data.invoice_currency.str.replace('USD','').astype('float').head()

ValueError: could not convert string to float: 'CAD'

In [36]:
#For Sorted Values
data.sort_values

<bound method DataFrame.sort_values of       business_code cust_number     name_customer           clear_date  \
0              CA02  0140105678   SAPUTO  systems                  NaN
1              U001  0200750051  ALBER foundation  2019-07-03 00:00:00
2              U001  0200769623   WAL-MAR systems                  NaN
3              U001  0200416837       DEC systems  2019-03-25 00:00:00
4              U001      CCCA02         KRAFT  co  2019-11-27 00:00:00
...             ...         ...               ...                  ...
49995          U001  0200769623          WAL-MAR   2020-01-21 00:00:00
49996          U001   200759878    SA corporation  2019-04-09 00:00:00
49997          U001  0100015557          BI trust  2019-03-25 00:00:00
49998          U001  0200776463         KROGE llc  2019-08-14 00:00:00
49999          U001  0200803720    DEC foundation  2019-11-01 00:00:00

       buisness_year        doc_id posting_date document_create_date  \
0             2020.0  2.960620e+09   2020-03-10           2020-03-10
1             2019.0  1.929516e+09   2019-06-18           2019-06-19
2             2020.0  1.930689e+09   2020-03-24           2020-03-23
3             2019.0  1.928996e+09   2019-03-20           2019-03-20
4             2019.0  1.929976e+09   2019-10-08           2019-10-07
...              ...           ...          ...                  ...
49995         2020.0  1.930357e+09   2020-01-07           2020-01-05
49996         2019.0  1.929009e+09   2019-03-24           2019-03-22
49997         2019.0  1.928940e+09   2019-03-12           2019-03-12
49998         2019.0  1.929669e+09   2019-07-30           2019-07-27
49999         2019.0  1.930046e+09   2019-10-23           2019-10-23

       document_create_date.1  due_in_date invoice_currency document type  \
0                    20200310   20200329.0              CAD            RV
1                    20190618   20190703.0              USD            RV
2                    20200324   20200408.0              USD            RV
3                    20190320   20190326.0              USD            RV
4                    20191008   20191112.0              USD            RV
...                       ...          ...              ...           ...
49995                20200107   20200122.0              USD            RV
49996                20190324   20190408.0              USD            RV
49997                20190312   20190516.0              USD            RV
49998                20190730   20190814.0              USD            RV
49999                20191023   20191108.0              USD            RV

       total_open_amount  baseline_create_date cust_payment_terms  \
0               12140.10            20200319.0               CA10
1              101378.70            20190618.0               NAA8
2               46117.37            20200324.0               NAH4
3               12904.41            20190316.0               NAM2
4               12965.40            20191008.0               NAG2
...                  ...                   ...                ...
49995             311.84            20200107.0               NAH4
49996           40742.51            20190324.0               NAH4
49997            1929.63            20190312.0               NAGD
49998           17519.05            20190730.0               NAA8
49999             501.84            20191016.0               NAM4

         invoice_id  isOpen
0      2.960620e+09       1
1      1.929516e+09       0
2      1.930689e+09       1
3      1.928996e+09       0
4      1.929976e+09       0
...             ...     ...
49995  1.930357e+09       0
49996  1.929009e+09       0
49997  1.928940e+09       0
49998  1.929669e+09       0
49999  1.930046e+09       0

[50000 rows x 17 columns]>

In [37]:
data.set_index

<bound method DataFrame.set_index of       business_code cust_number     name_customer           clear_date  \
0              CA02  0140105678   SAPUTO  systems                  NaN
1              U001  0200750051  ALBER foundation  2019-07-03 00:00:00
2              U001  0200769623   WAL-MAR systems                  NaN
3              U001  0200416837       DEC systems  2019-03-25 00:00:00
4              U001      CCCA02         KRAFT  co  2019-11-27 00:00:00
...             ...         ...               ...                  ...
49995          U001  0200769623          WAL-MAR   2020-01-21 00:00:00
49996          U001   200759878    SA corporation  2019-04-09 00:00:00
49997          U001  0100015557          BI trust  2019-03-25 00:00:00
49998          U001  0200776463         KROGE llc  2019-08-14 00:00:00
49999          U001  0200803720    DEC foundation  2019-11-01 00:00:00

       buisness_year        doc_id posting_date document_create_date  \
0             2020.0  2.960620e+09   2020-03-10           2020-03-10
1             2019.0  1.929516e+09   2019-06-18           2019-06-19
2             2020.0  1.930689e+09   2020-03-24           2020-03-23
3             2019.0  1.928996e+09   2019-03-20           2019-03-20
4             2019.0  1.929976e+09   2019-10-08           2019-10-07
...              ...           ...          ...                  ...
49995         2020.0  1.930357e+09   2020-01-07           2020-01-05
49996         2019.0  1.929009e+09   2019-03-24           2019-03-22
49997         2019.0  1.928940e+09   2019-03-12           2019-03-12
49998         2019.0  1.929669e+09   2019-07-30           2019-07-27
49999         2019.0  1.930046e+09   2019-10-23           2019-10-23

       document_create_date.1  due_in_date invoice_currency document type  \
0                    20200310   20200329.0              CAD            RV
1                    20190618   20190703.0              USD            RV
2                    20200324   20200408.0              USD            RV
3                    20190320   20190326.0              USD            RV
4                    20191008   20191112.0              USD            RV
...                       ...          ...              ...           ...
49995                20200107   20200122.0              USD            RV
49996                20190324   20190408.0              USD            RV
49997                20190312   20190516.0              USD            RV
49998                20190730   20190814.0              USD            RV
49999                20191023   20191108.0              USD            RV

       total_open_amount  baseline_create_date cust_payment_terms  \
0               12140.10            20200319.0               CA10
1              101378.70            20190618.0               NAA8
2               46117.37            20200324.0               NAH4
3               12904.41            20190316.0               NAM2
4               12965.40            20191008.0               NAG2
...                  ...                   ...                ...
49995             311.84            20200107.0               NAH4
49996           40742.51            20190324.0               NAH4
49997            1929.63            20190312.0               NAGD
49998           17519.05            20190730.0               NAA8
49999             501.84            20191016.0               NAM4

         invoice_id  isOpen
0      2.960620e+09       1
1      1.929516e+09       0
2      1.930689e+09       1
3      1.928996e+09       0
4      1.929976e+09       0
...             ...     ...
49995  1.930357e+09       0
49996  1.929009e+09       0
49997  1.928940e+09       0
49998  1.929669e+09       0
49999  1.930046e+09       0

[50000 rows x 17 columns]>

In [38]:
#Data Reset
data.reset_index

<bound method DataFrame.reset_index of       business_code cust_number     name_customer           clear_date  \
0              CA02  0140105678   SAPUTO  systems                  NaN
1              U001  0200750051  ALBER foundation  2019-07-03 00:00:00
2              U001  0200769623   WAL-MAR systems                  NaN
3              U001  0200416837       DEC systems  2019-03-25 00:00:00
4              U001      CCCA02         KRAFT  co  2019-11-27 00:00:00
...             ...         ...               ...                  ...
49995          U001  0200769623          WAL-MAR   2020-01-21 00:00:00
49996          U001   200759878    SA corporation  2019-04-09 00:00:00
49997          U001  0100015557          BI trust  2019-03-25 00:00:00
49998          U001  0200776463         KROGE llc  2019-08-14 00:00:00
49999          U001  0200803720    DEC foundation  2019-11-01 00:00:00

       buisness_year        doc_id posting_date document_create_date  \
0             2020.0  2.960620e+09   2020-03-10           2020-03-10
1             2019.0  1.929516e+09   2019-06-18           2019-06-19
2             2020.0  1.930689e+09   2020-03-24           2020-03-23
3             2019.0  1.928996e+09   2019-03-20           2019-03-20
4             2019.0  1.929976e+09   2019-10-08           2019-10-07
...              ...           ...          ...                  ...
49995         2020.0  1.930357e+09   2020-01-07           2020-01-05
49996         2019.0  1.929009e+09   2019-03-24           2019-03-22
49997         2019.0  1.928940e+09   2019-03-12           2019-03-12
49998         2019.0  1.929669e+09   2019-07-30           2019-07-27
49999         2019.0  1.930046e+09   2019-10-23           2019-10-23

       document_create_date.1  due_in_date invoice_currency document type  \
0                    20200310   20200329.0              CAD            RV
1                    20190618   20190703.0              USD            RV
2                    20200324   20200408.0              USD            RV
3                    20190320   20190326.0              USD            RV
4                    20191008   20191112.0              USD            RV
...                       ...          ...              ...           ...
49995                20200107   20200122.0              USD            RV
49996                20190324   20190408.0              USD            RV
49997                20190312   20190516.0              USD            RV
49998                20190730   20190814.0              USD            RV
49999                20191023   20191108.0              USD            RV

       total_open_amount  baseline_create_date cust_payment_terms  \
0               12140.10            20200319.0               CA10
1              101378.70            20190618.0               NAA8
2               46117.37            20200324.0               NAH4
3               12904.41            20190316.0               NAM2
4               12965.40            20191008.0               NAG2
...                  ...                   ...                ...
49995             311.84            20200107.0               NAH4
49996           40742.51            20190324.0               NAH4
49997            1929.63            20190312.0               NAGD
49998           17519.05            20190730.0               NAA8
49999             501.84            20191016.0               NAM4

         invoice_id  isOpen
0      2.960620e+09       1
1      1.929516e+09       0
2      1.930689e+09       1
3      1.928996e+09       0
4      1.929976e+09       0
...             ...     ...
49995  1.930357e+09       0
49996  1.929009e+09       0
49997  1.928940e+09       0
49998  1.929669e+09       0
49999  1.930046e+09       0

[50000 rows x 17 columns]>

In [61]:
# For Null Values
data.isnull().sum()

business_code                 0
cust_number                   0
name_customer                 0
clear_date                10000
buisness_year                 0
doc_id                        0
posting_date                  0
document_create_date          0
document_create_date.1        0
due_in_date                   0
invoice_currency              0
document type                 0
total_open_amount             0
baseline_create_date          0
cust_payment_terms            0
invoice_id                    6
isOpen                        0
dtype: int64

In [40]:
#For dropping missing data (corelation... )
data.shape

(50000, 17)

In [48]:
##For dropping missing data (corelation... )
data.dropna()

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
1,U001,0200750051,ALBER foundation,2019-07-03 00:00:00,2019.0,1.929516e+09,2019-06-18,2019-06-19,20190618,20190703.0,USD,RV,101378.70,20190618.0,NAA8,1.929516e+09,0
3,U001,0200416837,DEC systems,2019-03-25 00:00:00,2019.0,1.928996e+09,2019-03-20,2019-03-20,20190320,20190326.0,USD,RV,12904.41,20190316.0,NAM2,1.928996e+09,0
4,U001,CCCA02,KRAFT co,2019-11-27 00:00:00,2019.0,1.929976e+09,2019-10-08,2019-10-07,20191008,20191112.0,USD,RV,12965.40,20191008.0,NAG2,1.929976e+09,0
6,U001,0200763152,PERFOR systems,2019-08-01 00:00:00,2019.0,1.929624e+09,2019-07-17,2019-07-16,20190717,20190801.0,USD,RV,42241.46,20190717.0,NAA8,1.929624e+09,0
7,U001,0200780825,SYSCO FO llc,2019-09-18 00:00:00,2019.0,1.929830e+09,2019-09-06,2019-09-05,20190906,20190921.0,USD,RV,1698.40,20190906.0,NAA8,1.929830e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,0200769623,WAL-MAR,2020-01-21 00:00:00,2020.0,1.930357e+09,2020-01-07,2020-01-05,20200107,20200122.0,USD,RV,311.84,20200107.0,NAH4,1.930357e+09,0
49996,U001,200759878,SA corporation,2019-04-09 00:00:00,2019.0,1.929009e+09,2019-03-24,2019-03-22,20190324,20190408.0,USD,RV,40742.51,20190324.0,NAH4,1.929009e+09,0
49997,U001,0100015557,BI trust,2019-03-25 00:00:00,2019.0,1.928940e+09,2019-03-12,2019-03-12,20190312,20190516.0,USD,RV,1929.63,20190312.0,NAGD,1.928940e+09,0
49998,U001,0200776463,KROGE llc,2019-08-14 00:00:00,2019.0,1.929669e+09,2019-07-30,2019-07-27,20190730,20190814.0,USD,RV,17519.05,20190730.0,NAA8,1.929669e+09,0
49999,U001,0200803720,DEC foundation,2019-11-01 00:00:00,2019.0,1.930046e+09,2019-10-23,2019-10-23,20191023,20191108.0,USD,RV,501.84,20191016.0,NAM4,1.930046e+09,0

In [51]:
###For dropping missing data (corelation... )
data.dropna(how='all').shape

(50000, 17)

In [67]:
###For dropping missing data (corelation... )remove waste rows f
data.dropna(axis=0)

,business_code,cust_number,name_customer,clear_date,buisness_year,doc_id,posting_date,document_create_date,document_create_date.1,due_in_date,invoice_currency,document type,total_open_amount,baseline_create_date,cust_payment_terms,invoice_id,isOpen
1,U001,0200750051,ALBER foundation,2019-07-03 00:00:00,2019.0,1.929516e+09,2019-06-18,2019-06-19,20190618,20190703.0,USD,RV,101378.70,20190618.0,NAA8,1.929516e+09,0
3,U001,0200416837,DEC systems,2019-03-25 00:00:00,2019.0,1.928996e+09,2019-03-20,2019-03-20,20190320,20190326.0,USD,RV,12904.41,20190316.0,NAM2,1.928996e+09,0
4,U001,CCCA02,KRAFT co,2019-11-27 00:00:00,2019.0,1.929976e+09,2019-10-08,2019-10-07,20191008,20191112.0,USD,RV,12965.40,20191008.0,NAG2,1.929976e+09,0
6,U001,0200763152,PERFOR systems,2019-08-01 00:00:00,2019.0,1.929624e+09,2019-07-17,2019-07-16,20190717,20190801.0,USD,RV,42241.46,20190717.0,NAA8,1.929624e+09,0
7,U001,0200780825,SYSCO FO llc,2019-09-18 00:00:00,2019.0,1.929830e+09,2019-09-06,2019-09-05,20190906,20190921.0,USD,RV,1698.40,20190906.0,NAA8,1.929830e+09,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,U001,0200769623,WAL-MAR,2020-01-21 00:00:00,2020.0,1.930357e+09,2020-01-07,2020-01-05,20200107,20200122.0,USD,RV,311.84,20200107.0,NAH4,1.930357e+09,0
49996,U001,200759878,SA corporation,2019-04-09 00:00:00,2019.0,1.929009e+09,2019-03-24,2019-03-22,20190324,20190408.0,USD,RV,40742.51,20190324.0,NAH4,1.929009e+09,0
49997,U001,0100015557,BI trust,2019-03-25 00:00:00,2019.0,1.928940e+09,2019-03-12,2019-03-12,20190312,20190516.0,USD,RV,1929.63,20190312.0,NAGD,1.928940e+09,0
49998,U001,0200776463,KROGE llc,2019-08-14 00:00:00,2019.0,1.929669e+09,2019-07-30,2019-07-27,20190730,20190814.0,USD,RV,17519.05,20190730.0,NAA8,1.929669e+09,0
49999,U001,0200803720,DEC foundation,2019-11-01 00:00:00,2019.0,1.930046e+09,2019-10-23,2019-10-23,20191023,20191108.0,USD,RV,501.84,20191016.0,NAM4,1.930046e+09,0

In [69]:
#Check NA values in Rows
data.dropna(subset=['due_in_date','clear_date']).shape

(40000, 17)

In [ ]:
#Invoc the Data (interpolate) without using Date .......

In [ ]:
#Create a new data set

In [ ]:
#Drop The NA values

In [ ]:
#find Delay date 
#Delay Date = clear date - due date

In [ ]:
#split the data set

In [18]:
data.corr()

,buisness_year,doc_id,document_create_date,document_create_date.1,due_in_date,total_open_amount,baseline_create_date,invoice_id,isOpen
buisness_year,1.000000,-0.012043,0.979740,0.984997,0.989955,-0.007710,0.985240,-0.010395,0.754944
doc_id,-0.012043,1.000000,-0.008226,-0.010909,-0.014132,0.169856,-0.009249,1.000000,-0.011499
document_create_date,0.979740,-0.008226,1.000000,0.993956,0.976334,-0.004731,0.993405,-0.006275,0.762992
document_create_date.1,0.984997,-0.010909,0.993956,1.000000,0.981173,-0.005612,0.999446,-0.007888,0.763007
due_in_date,0.989955,-0.014132,0.976334,0.981173,1.000000,-0.006899,0.981634,-0.011165,0.755438
total_open_amount,-0.007710,0.169856,-0.004731,-0.005612,-0.006899,1.000000,-0.005050,0.179673,-0.000622
baseline_create_date,0.985240,-0.009249,0.993405,0.999446,0.981634,-0.005050,1.000000,-0.006154,0.762930
invoice_id,-0.010395,1.000000,-0.006275,-0.007888,-0.011165,0.179673,-0.006154,1.000000,-0.010362
isOpen,0.754944,-0.011499,0.762992,0.763007,0.755438,-0.000622,0.762930,-0.010362,1.000000

In [ ]:
data.iloc[]